body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: #dad1d1;
}

.cal section {
    border: solid black 2px;
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #28282B;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.display_type_numbers {
    border: solid black 2px;
    height: 7vh;
    width: 25vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: #eaeaea;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

button {
    height: 10vh;
    width: 5vw;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    background: #b3b1b1;
    transition: 0.2s ease;
    font-weight: bold;
    color: #333;
}

button:hover {
    background: #7e7d7d;
    transform: scale(1.05);
}

.clear-btn {
    background: #c94747;
    color: white;
}

.clear-btn:hover {
    background: #da0f0f;
}